<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>开户接口</title>
</head>
<body>
    <h1>开户接口</h1>
    <form>
        商户id：<input type="text" name="mchid" value=""><br/>
        用户编号：<input type="text" name="meruserid" value=""><br/>
        用户名称：<input type="text" name="username" value=""><br/>
        证件类型：<input type="text" name="idtype" value="" placeholder="1为身份证"><br/>
        证件号码：<input type="text" name="idnumber" value="" placeholder="身份证号码"><br/>
        存管账户角色：<input type="text" name="userrole" value="" placeholder="身份证号码"><br/>
        证件号码：<input type="text" name="idnumber" value="" placeholder="身份证号码"><br/>
        证件号码：<input type="text" name="idnumber" value="" placeholder="身份证号码"><br/>
    </form>
</body>
</html>